*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --dark: #262626;
    --gray-1: #BCB4B4;
    --deep-dark: #1E1E1E;
    --gray-2: #363636;
    --white: white;
    --black: black;
}
body{
    background-color: var(--dark);
    /* font-family: "RobotoMono Regular" !important; */
    font-family: 'Bangers', cursive !important;
font-family: 'Roboto', sans-serif !important;
}
html{
    font-size: 62.5%;
    /* font-family: "RobotoMono Regular" !important; */
}


.layout{
    background-color: var(--dark);
    /* height:100vh; */
    width:screen;
    overflow-x:hidden;
    overflow-y:scroll;
    
}
.footerMain{
    height: 30%;
    width: 100%;

}
.footer{
    width: 100%;
    height: 100%;
    color: var(--gray-1);
    background-color: var(--dark);
    /* display: flex;
    justify-content: space-around;*/
}

.fcolumn{text-align: center;}
/* *********Nav bar */
.nav{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--dark) !important;
    z-index: +1;

}
.menubar{
    display: flex;
    justify-items: center;
    align-items: center;  
    justify-content:space-around;
    color:var(--white);
    width: 50%;
    height: 8%;
    /* position: sticky;
    top: 0;
    left: 0; */
    z-index: +1;
}
/* *********Nav bar */


.navlink{
    text-decoration: none;
    color: var(--gray-1);
    font-size: 2rem; 
    padding: 1rem;

}
.navlink:hover{
    background-color:var(--deep-dark);
    border-radius: 1rem;
    color: var(--gray-1);

}

/********************************** footer component starts *************************************/




.mainFooter {
    background-color: var(--deep-dark);
    color: var(--gray-1);

}
.footerLink{
    text-decoration: none;
    font-family: "RobotoMono Regular";
    font-size: 1.7rem;
    color: var(--gray-1) !important;


    /* line-height:1.8; */

}
.footerLink:hover {
    color: var(--orange);
}


.footerHeader {
    font-family: 'Roboto Mono', monospace;
    color: var(--footerHeader);
    font-size: 2.2rem;
    text-align: left;
    color: var(--gray-1);

}

.footerContact, .footerContact a{
    color: var(--gray-1);
    font-size: 1.8rem;
}
  
.footerCopyright {
    background-color: var(--dark);
    color: var(--gray-1);
    font-size: 1.2rem;
}

/********************************** footer component ends *************************************/



